apiVersion: v1
kind: ConfigMap
metadata:
  name: ms-users
data:
  lb_auth_issuer_uri: http://127.0.0.1:9000
  lb_users_uri: http://127.0.0.1:8001
  port: "8001"
  db_host: mysql8:3306
  database: msvc_users
  #  username: root
  #  password: "1003"
  cursos_url: msvc-courses:8002
  application.yaml: |-
    config:
      text: config environment by default
    ---  
    spring:
      config:
        activate:
          on-profile: dev
    config:
      text: config environment to development
    ---
    spring:
      config:
        activate:
          on-profile: prod
    config:
      text: config environment to production
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ms-courses
data:
  port: "8002"
  db_host: postgres14:5432
  database: msvc_courses
#  username: postgres
#  password: "1003"
  usuarios_url: msvc-users:8001
