apiVersion: v1
kind: ConfigMap
metadata:
  name: ms-users
data:
  port: "8001"
  db_host: mysql8:3306
  database: msvc_users
  #  username: root
  #  password: "1003"
  cursos_url: msvc-courses:8002
  application.yaml: |-
    config:
      text: config environment by default
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ms-courses
data:
  port: "8002"
  db_host: postgres14:5432
  database: msvc_courses
#  username: postgres
#  password: "1003"
  usuarios_url: msvc-users:8001
