spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:9000 #validate token
      client:
        registration:
          ms-users-client:
            provider: spring
            client-id: users-client
            client-secret: 12345
            authorization-grant-type: authorization_code
            redirect-uri: "http://127.0.0.1:8001/authorized"
            scope: read
            client-name: ms-users-client
        provider:
          spring:
            issuer-uri: http://127.0.0.1:9000
